body {
    font-family: "Poppins";
}

.genre-card {
    background-color: #222328;
    border: solid 1px #575757;
    padding:  20px 10px;
    text-align: center;
    border-radius: 10px;
    color: #858995;
    
    transition: background-color 0.3s;
}

.genre-card.selected {
    border-color: #444; 
    background-color: #700B97; 
    color: #fff;
  }

  /**/
  .genre-card img {
    transition: filter 0.3s ease;
}

/* Imagen seleccionada se torna blanca */
.genre-card.selected img {
    filter: brightness(0) invert(1); /* Se torna completamente blanca */
}



.btn-prev, .btn-next {
    background-color: #444;
    border: none;
    padding: 10px 60px; 
    border-radius: 20px;
    color: #575757;
    margin: 0px 30px; 
}

.btn-searchA{
    background-color: #a61bdd;
    border: none;
    border-radius: 20px;
    color: #575757;
    padding: 0.4rem;
    width: 100%;
}

.btn-searchA:hover {
    background-color: #8948a3;
    color: #fff;
}


@media (max-width: 768px) {
    .btn-prev, .btn-next {
        padding: 8px 20px; 
        font-size: 0.875rem; 
        margin: 0px 10px; 
    }
    .center-mobile {
        display: flex;
        justify-content: center;
        text-align: center;
      }
}

.btn-prev:hover, .btn-next:hover {
    background-color: #700B97;
    color: #fff;
}
